#!/usr/bin/make -f
# Uncomment this to turn on verbose mode.
# export DH_VERBOSE=1

export DEB_HOST_GNU_TYPE  ?= $(shell dpkg-architecture -qDEB_HOST_GNU_TYPE)
export DEB_BUILD_GNU_TYPE ?= $(shell dpkg-architecture -qDEB_BUILD_GNU_TYPE)

ifeq ($(DEB_BUILD_GNU_TYPE), $(DEB_HOST_GNU_TYPE))
  confflags += --build $(DEB_HOST_GNU_TYPE)
else
  confflags += --build $(DEB_BUILD_GNU_TYPE) --host $(DEB_HOST_GNU_TYPE)
endif

export PROC := $(shell dpkg-architecture -qDEB_BUILD_GNU_CPU)

ifneq (,$(filter noopt,$(DEB_BUILD_OPTIONS)))
        BUILDFLAGS += OPTIMIZE=-O0
else
        BUILDFLAGS += OPTIMIZE=-O2
endif
#BUILDFLAGS += MAKECMDGOALS=dont-optimize

%:
	dh $@

override_dh_auto_build:
	dh_auto_build --parallel

override_dh_auto_configure:
	dh_auto_configure -- \
	        --with-gsl \
        	--with-openssl \
	        --with-pcap \
        	--with-rtpstream \
	        --with-sctp

override_dh_auto_test:
	git clone https://github.com/google/googletest/ || ( cd googletest/ && git pull --rebase )
	rmdir gtest gmock 2>/dev/null || true  # empty dirs in the distribution zip
	test -h gtest || ln -s googletest/googletest gtest
	test -h gmock || ln -s googletest/googlemock gmock
	dh_auto_test --parallel
	for attempt in $$(seq 3); do ./regress/runtests && exit 0; done
